<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.monitor.dao.AlertLogDao">

	<resultMap type="org.hit.monitor.model.AlertLogDO" id="AlertLogResult">
		<id property="id" column="id" />
		<result property="occurTime" column="occur_time" />
		<result property="host" column="host" />
		<result property="user" column="user" />
		<result property="software" column="software" />
		<result property="component" column="component" />
		<result property="content" column="content" />
		<result property="faultType" column="fault_type" />
	</resultMap>
	
	<sql id="BaseSQL">
		a.id,a.occur_time,a.host,a.user,a.software,a.component,a.content,a.fault_type
	</sql>
	<!-- -->
	<sql id="Condition">
		1=1
		<if test="id != null">
			AND a.id = #{id}
		</if>
		<if test="occurTime != null">
			AND a.occur_time = #{occurTime}
		</if>
		<if test="host != null">
			AND a.host = #{host}
		</if>
		<if test="user != null">
			AND a.user = #{user}
		</if>
		<if test="software != null">
			AND a.software = #{software}
		</if>
		<if test="component != null">
			AND a.component = #{component}
		</if>
		<if test="content != null">
			AND a.content = #{content}
		</if>
		<if test="faultType != null">
			AND a.fault_type = #{faultType}
		</if>
	</sql>
	
	<sql id="ConditionExact">
		1=1
		<if test="id != null">
			AND a.id = #{id}
		</if>
		<if test="occurTime != null">
			AND a.occur_time = #{occurTime}
		</if>
		<if test="host != null">
			AND a.host = #{host}
		</if>
		<if test="user != null">
			AND a.user = #{user}
		</if>
		<if test="software != null">
			AND a.software = #{software}
		</if>
		<if test="component != null">
			AND a.component = #{component}
		</if>
		<if test="content != null">
			AND a.content = #{content}
		</if>
		<if test="faultType != null">
			AND a.fault_type = #{faultType}
		</if>
		<if test="start != null">
			AND a.occur_time &gt;= #{start}
		</if>
		<if test="end != null">
			AND a.occur_time &lt;= #{end}
		</if>
	</sql>

	<!-- 根据主键查询是否存在 -->
	<select id="selectAlertLogCountById" parameterType="java.lang.Long" resultType="java.lang.Integer">
		SELECT
			 COUNT(1)
		FROM 
			alert_log a
		WHERE 
			a.id=#{id}
	</select>
	
	<!-- 根据主键查询 -->
	<select id="selectAlertLogById" parameterType="java.lang.Long" resultMap="AlertLogResult">
		SELECT
			 <include refid="BaseSQL" />
		FROM 
			alert_log a
		WHERE 
			a.id=#{id}
	</select>

	<!-- 查询一个，必须传入能唯一确定一个的参数 -->
	<select id="selectOne" parameterType="org.hit.monitor.bo.QueryAlertLogBO" resultMap="AlertLogResult">
		SELECT 
			<include refid="BaseSQL" />
		FROM 
			alert_log a
		WHERE
			<include refid="ConditionExact" />
		LIMIT 1
	</select>
	
	<!-- 查询列表，一次最多查出1000条 -->
	<select id="selectAlertLogList" parameterType="org.hit.monitor.bo.QueryAlertLogBO" resultMap="AlertLogResult">
		SELECT 
			<include refid="BaseSQL" />
		FROM 
			alert_log a
		WHERE
			<include refid="ConditionExact" />
		LIMIT 1000
	</select>
	
	<!-- 分页查找 -->
	<select id="selectAlertLogPage" parameterType="org.hit.monitor.bo.QueryAlertLogBO" resultMap="AlertLogResult">
		SELECT 
			<include refid="BaseSQL" />
		FROM 
			alert_log a
		WHERE
			<include refid="Condition" />
		LIMIT #{pageIndex},#{pageSize}
	</select>
	
	<!-- 分页计数 -->
	<select id="selectAlertLogCount" parameterType="org.hit.monitor.bo.QueryAlertLogBO" resultType="java.lang.Integer">
		SELECT 
			COUNT(1)
		FROM 
			alert_log a
		WHERE
			<include refid="Condition" />
	</select>

	<!-- 添加 -->
	<insert id="insertAlertLog" parameterType="org.hit.monitor.model.AlertLogDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO alert_log(
			occur_time,
			host,
			user,
			software,
			component,
			content,
			fault_type
		) VALUES (
			#{occurTime},
			#{host},
			#{user},
			#{software},
			#{component},
			#{content},
			#{faultType}
		)
	</insert>

	<!-- 完全修改 -->
	<update id="updateAlertLog" parameterType="org.hit.monitor.model.AlertLogDO">
		UPDATE 
			alert_log 
		<set>
			occur_time = #{occurTime},
			host = #{host},
			user = #{user},
			software = #{software},
			component = #{component},
			content = #{content},
			fault_type = #{faultType}
		</set>
		WHERE 
			id=#{id}
	</update>
	
	<!-- 选择性修改 -->
	<update id="updateAlertLogSelective" parameterType="org.hit.monitor.model.AlertLogDO">
		UPDATE 
			alert_log 
		<set>
			<if test="occurTime != null">
				occur_time = #{occurTime},
			</if>
			<if test="host != null">
				host = #{host},
			</if>
			<if test="user != null">
				user = #{user},
			</if>
			<if test="software != null">
				software = #{software},
			</if>
			<if test="component != null">
				component = #{component},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="faultType != null">
				fault_type = #{faultType}
			</if>
		</set>
		WHERE 
			id=#{id}
	</update>

</mapper>