<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.monitor.dao.HistoryDao">
	<resultMap type="org.hit.monitor.model.HistoryDO" id="HistoryResult">
		<id property="itemid" column="itemid" />
		<result property="itemid" column="itemid" />
		<result property="clock" column="clock" />
		<result property="value" column="value" />
		<result property="ns" column="ns" />
	</resultMap>

	<resultMap type="org.hit.monitor.model.MetricsDataDO" id="MetricsDataResult">
		<result property="sum" column="value" />
		<result property="processTime" column="clock" />
		<result property="num" column="num" />
	</resultMap>

	<sql id="BaseSQL">
		h.itemid,h.clock,h.value,h.ns
	</sql>
	
	<sql id="Condition">
		1=1
		<if test="itemid != null">
			AND h.itemid = #{itemid}
		</if>
		<if test="start != null">
			AND `clock` &gt;= ${start}
		</if>
		<if test="end != null">
			AND `clock` &lt;= ${end}
		</if>
	</sql>
	
	<sql id="ConditionExact">
		1=1
		<if test="itemid != null">
			AND h.itemid = ${itemid}
		</if>
		<if test="start != null">
			AND `clock` &gt;= ${start}
		</if>
		<if test="end != null">
			AND `clock` &lt;= ${end}
		</if>
	</sql>

	<!-- 查询一个，必须传入能唯一确定一个的参数 -->
	<select id="selectOne" parameterType="org.hit.monitor.bo.QueryHistoryBO" resultMap="HistoryResult">
		SELECT 
			<include refid="BaseSQL" />
		FROM 
			history h
		WHERE
			<include refid="ConditionExact" />
		LIMIT 1
	</select>
	
	<!-- 查询列表，一次最多查出1000条 -->
	<select id="selectHistoryList" parameterType="org.hit.monitor.bo.QueryHistoryBO" resultMap="HistoryResult">
		SELECT
			<include refid="BaseSQL" />
		FROM 
			history h
		WHERE
			<include refid="ConditionExact" />
		LIMIT 1000
	</select>

	<!-- 查询单个节点的历史数据 -->
	<select id="selectSingleNodeHistoryData" parameterType="org.hit.monitor.bo.QueryMetricsBO" resultMap="MetricsDataResult">
		SELECT
			`clock`, `value`, 1 as `num`
		FROM
			`${table}` h
		WHERE
			<include refid="ConditionExact" />
		ORDER BY
			`clock` desc
		<if test="limit != null">
			LIMIT ${limit}
		</if>
		<if test="limit == null">
			LIMIT 1000
		</if>
	</select>

	<!-- 查询集群历史数据，涉及到多个节点 -->
	<select id="selectClusterHistoryData" parameterType="org.hit.monitor.bo.QueryMetricsBO" resultMap="MetricsDataResult">
		set @num := 0, @type := '';
		SELECT
			`itemid`, `clock`, `value`
		FROM (
			SELECT
				`itemid`, `clock`, `value`,
				@num := if(@type = itemid, @num + 1, 1) as row_number,
				@type := itemid as dummy
			FROM
				`${table}`
			WHERE
				`itemid` in <foreach collection="monitorItemIds" open="(" close=")" separator="," item="i">#{i}</foreach>
				<if test="start != null">
					AND `clock` &gt;= ${start}
				</if>
				<if test="end != null">
					AND `clock` &lt;= ${end}
				</if>
			ORDER BY
				`itemid`, `clock` desc
		) as x
		WHERE
			<if test="limit != null">
				x.row_number &lt;= ${limit};
			</if>
			<if test="limit == null">
				x.row_number &lt;= 1000;
			</if>
	</select>
	
	<!-- 分页查找 -->
	<select id="selectHistoryPage" parameterType="org.hit.monitor.bo.QueryHistoryBO" resultMap="HistoryResult">
		SELECT 
			<include refid="BaseSQL" />
		FROM 
			history h
		WHERE
			<include refid="Condition" />
		LIMIT #{pageIndex},#{pageSize}
	</select>
	
	<!-- 分页计数 -->
	<select id="selectHistoryCount" parameterType="org.hit.monitor.bo.QueryHistoryBO" resultType="java.lang.Integer">
		SELECT 
			COUNT(1)
		FROM 
			history h
		WHERE
			<include refid="Condition" />
	</select>

</mapper>