<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.monitor.dao.MonitorItemsDao">
	<resultMap type="org.hit.monitor.model.MonitorItemsDO" id="MonitorItemsResult">
		<id property="itemid" column="itemid" />
		<result property="type" column="type" />
		<result property="hostid" column="hostid" />
		<result property="name" column="name" />
		<result property="key" column="key_" />
		<result property="delay" column="delay" />
		<result property="history" column="history" />
		<result property="trends" column="trends" />
		<result property="status" column="status" />
		<result property="valueType" column="value_type" />
		<result property="units" column="units" />
		<result property="multiplier" column="multiplier" />
		<result property="delta" column="delta" />
		<result property="formula" column="formula" />
		<result property="lastlogsize" column="lastlogsize" />
		<result property="logtimefmt" column="logtimefmt" />
		<result property="dataType" column="data_type" />
		<result property="mtime" column="mtime" />
		<result property="flags" column="flags" />
		<result property="description" column="description" />
		<result property="lifetime" column="lifetime" />
		<result property="state" column="state" />
	</resultMap>
	
	<sql id="BaseSQL">
		m.itemid,m.type,m.hostid,m.name,m.key_,m.delay,m.history,m.trends,m.status,m.value_type,m.units,m.multiplier,m.delta,m.formula,m.lastlogsize,m.logtimefmt,m.data_type,m.mtime,m.flags,m.description,m.lifetime,m.state
	</sql>
	
	<sql id="Condition">
		1=1
		<if test="itemid != null">
			AND m.itemid = #{itemid}
		</if>
		<if test="type != null">
			AND m.type = #{type}
		</if>
		<if test="hostid != null">
			AND m.hostid = #{hostid}
		</if>
		<if test="name != null">
			AND m.name = #{name}
		</if>
		<if test="key != null">
			AND m.key_ = #{key}
		</if>
		<if test="delay != null">
			AND m.delay = #{delay}
		</if>
		<if test ="history != null">
			AND m.history = #{history}
		</if>
		<if test="trends != null">
			AND m.trends = #{trends}
		</if>
		<if test="status != null">
			AND m.status = #{status}
		</if>
		<if test="valueType != null">
			AND m.value_type = #{valueType}
		</if>
		<if test="units != null">
			AND m.units = #{units}
		</if>
		<if test="multiplier != null">
			AND m.multiplier = #{multiplier}
		</if>
		<if test="delta != null">
			AND m.delta = #{delta}
		</if>
		<if test="formula != null">
			AND m.formula = #{formula}
		</if>
		<if test="lastlogsize != null">
			AND m.lastlogsize = #{lastlogsize}
		</if>
		<if test="logtimefmt != null">
			AND m.logtimefmt = #{logtimefmt}
		</if>
		<if test="dataType != null">
			AND m.data_type = #{dataType}
		</if>
		<if test="mtime != null">
			AND m.mtime = #{mtime}
		</if>
		<if test="flags != null">
			AND m.flags = #{flags}
		</if>
		<if test="description != null">
			AND m.description = #{description}
		</if>
		<if test="lifetime != null">
			AND m.lifetime = #{lifetime}
		</if>
		<if test="state != null">
			AND m.state = #{state}
		</if>
	</sql>
	
	<sql id="ConditionExact">
		1=1
		<if test="itemid != null">
			AND m.itemid = #{itemid}
		</if>
		<if test="type != null">
			AND m.type = #{type}
		</if>
		<if test="hostid != null">
			AND m.hostid = #{hostid}
		</if>
		<if test="name != null">
			AND m.name = #{name}
		</if>
		<if test="key != null">
			AND m.key_ = #{key}
		</if>
		<if test="status != null">
			AND m.status = #{status}
		</if>
		<if test="valueType != null">
			AND m.value_type = #{valueType}
		</if>
		<if test="units != null">
			AND m.units = #{units}
		</if>
		<if test="dataType != null">
			AND m.data_type = #{dataType}
		</if>
		<if test="flags != null">
			AND m.flags = #{flags}
		</if>
		<if test="state != null">
			AND m.state = #{state}
		</if>
		<if test="hostIds != null">
			AND m.hostid in <foreach collection="hostIds" open="(" close=")" separator="," item="i">#{i}</foreach>
		</if>
	</sql>

	<!-- 查询一个，必须传入能唯一确定一个的参数 -->
	<select id="selectOne" parameterType="org.hit.monitor.bo.QueryMonitorItemsBO" resultMap="MonitorItemsResult">
		SELECT 
			<include refid="BaseSQL" />
		FROM 
			items m
		WHERE
			<include refid="ConditionExact" />
		LIMIT 1
	</select>
	
	<!-- 查询列表，一次最多查出1000条 -->
	<select id="selectMonitorItemsList" parameterType="org.hit.monitor.bo.QueryMonitorItemsBO" resultMap="MonitorItemsResult">
		SELECT 
			<include refid="BaseSQL" />
		FROM 
			items m
		WHERE
			<include refid="ConditionExact" />
		LIMIT 1000
	</select>
</mapper>