<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.monitor.dao.RDBMetricsDao">
	<resultMap type="org.hit.monitor.model.MysqlMetrics" id="MetricsList">
		<result property="Variable_name" column="Variable_name" />
		<result property="Value" column="Value" />		
	</resultMap>
	<resultMap type="org.hit.monitor.model.RDBProcess" id="RDBProcess">
		<result property="Id" column="Id"/>
		<result property="User" column="User"/>
		<result property="Host" column="Host"/>
		<result property="db" column="db"/>
		<result property="Command" column="Command"/>
		<result property="Time" column="Time"/>
		<result property="State" column="State"/>
		<result property="Info" column="Info"/>
	</resultMap>
	
	<select id="selectUserList" resultType="String">
		Select user from mysql.user;
	</select>
	<select id="showBufferPoolPagesTotal" resultMap="MetricsList"> 
		 show  global status like '%Innodb_buffer_pool_pages_tota%';
	</select>
	<select id="showProcessList" resultMap="RDBProcess">
		show PROCESSLIST;
	</select>
	<select id="showTime" resultMap="MetricsList">
		 SHOW GLOBAL STATUS LIKE 'Uptime'
	</select>
	<select id="showQuestions" resultMap="MetricsList">
		SHOW GLOBAL STATUS LIKE 'Questions';
	</select>
	
	<select id="showInnodbBufferPoolReads" resultMap="MetricsList">
	 	show status like'Innodb_buffer_pool_reads';
	</select>
	<select id="showInnodbBufferPoolReadRequests" resultMap="MetricsList"> 
		 show status like'Innodb_buffer_pool_read_requests';
	</select>
</mapper>