<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.monitor.dao.SparkAppStatisticsDao">
	<resultMap type="org.hit.monitor.model.SparkAppStatisticsDO" id="SparkAppStatisticsResult">
		<id property="id" column="id" />
		<result property="appRunning" column="app_running" />
		<result property="appCompleted" column="app_completed" />
		<result property="lastFetchTime" column="last_fetch_time" />
		<result property="version" column="version" />
	</resultMap>
	
	<sql id="BaseSQL">
		s.id,s.app_running,s.app_completed,s.last_fetch_time,s.version
	</sql>
	
	<sql id="Condition">
		1=1
		<if test="id != null">
			AND s.id = #{id}
		</if>
		<if test="appRunning != null">
			AND s.app_running = #{appRunning}
		</if>
		<if test="appCompleted != null">
			AND s.app_completed = #{appCompleted}
		</if>
		<if test="lastFetchTime != null">
			AND s.last_fetch_time = #{lastFetchTime}
		</if>
	</sql>
	
	<sql id="ConditionExact">
		1=1
		<if test="id != null">
			AND s.id = #{id}
		</if>
		<if test="appRunning != null">
			AND s.app_running = #{appRunning}
		</if>
		<if test="appCompleted != null">
			AND s.app_completed = #{appCompleted}
		</if>
		<if test="lastFetchTime != null">
			AND s.last_fetch_time = #{lastFetchTime}
		</if>
	</sql>

	<!-- 根据主键查询是否存在 -->
	<select id="selectSparkAppStatisticsCountById" parameterType="java.lang.Long" resultType="java.lang.Integer">
		SELECT
			 COUNT(1)
		FROM 
			spark_app_statistics s
		WHERE 
			s.id=#{id}
	</select>
	
	<!-- 根据主键查询 -->
	<select id="selectSparkAppStatisticsById" parameterType="java.lang.Long" resultMap="SparkAppStatisticsResult">
		SELECT
			 <include refid="BaseSQL" />
		FROM 
			spark_app_statistics s
		WHERE 
			s.id=#{id}
	</select>

	<!-- 查询一个，必须传入能唯一确定一个的参数 -->
	<select id="selectOne" parameterType="org.hit.monitor.bo.QuerySparkAppStatisticsBO" resultMap="SparkAppStatisticsResult">
		SELECT 
			<include refid="BaseSQL" />
		FROM 
			spark_app_statistics s
		WHERE
			<include refid="ConditionExact" />
		LIMIT 1
	</select>
	
	<!-- 查询列表，一次最多查出1000条 -->
	<select id="selectSparkAppStatisticsList" parameterType="org.hit.monitor.bo.QuerySparkAppStatisticsBO" resultMap="SparkAppStatisticsResult">
		SELECT 
			<include refid="BaseSQL" />
		FROM 
			spark_app_statistics s
		WHERE
			<include refid="ConditionExact" />
		LIMIT 1000
	</select>
	
	<!-- 分页查找 -->
	<select id="selectSparkAppStatisticsPage" parameterType="org.hit.monitor.bo.QuerySparkAppStatisticsBO" resultMap="SparkAppStatisticsResult">
		SELECT 
			<include refid="BaseSQL" />
		FROM 
			spark_app_statistics s
		WHERE
			<include refid="Condition" />
		LIMIT #{pageIndex},#{pageSize}
	</select>
	
	<!-- 分页计数 -->
	<select id="selectSparkAppStatisticsCount" parameterType="org.hit.monitor.bo.QuerySparkAppStatisticsBO" resultType="java.lang.Integer">
		SELECT 
			COUNT(1)
		FROM 
			spark_app_statistics s
		WHERE
			<include refid="Condition" />
	</select>

	<!-- 添加 -->
	<insert id="insertSparkAppStatistics" parameterType="org.hit.monitor.model.SparkAppStatisticsDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO spark_app_statistics(
			id,
			app_running,
			app_completed,
			last_fetch_time,
			version
		) VALUES (
			#{id},
			#{appRunning},
			#{appCompleted},
			#{lastFetchTime},
			#{version}
		)
	</insert>

	<!-- 完全修改 -->
	<update id="updateSparkAppStatistics" parameterType="org.hit.monitor.model.SparkAppStatisticsDO">
		UPDATE 
			spark_app_statistics
		<set>
			app_running = #{appRunning},
			app_completed = #{appCompleted},
			last_fetch_time = #{lastFetchTime},
			version=#{version}+1
		</set>
		WHERE 
			id=#{id} and version = #{version}
	</update>
	
	<!-- 选择性修改 -->
	<update id="updateSparkAppStatisticsSelective" parameterType="org.hit.monitor.model.SparkAppStatisticsDO">
		UPDATE 
			spark_app_statistics
		<set>
			<if test="appRunning != null">
				app_running = #{appRunning},
			</if>
			<if test="appCompleted != null">
				app_completed = #{appCompleted},
			</if>
			<if test="lastFetchTime != null">
				last_fetch_time = #{lastFetchTime},
			</if>
			version = #{version}+1
		</set>
		WHERE
			id=#{id} and version = #{version}
	</update>
</mapper>