<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.monitor.dao.SparkRunningAppDao">

	<sql id="BaseSQL">
		s.app_id
	</sql>

	<!-- 查询列表，一次最多查出1000条 -->
	<select id="selectSparkRunningAppList" resultType="java.lang.String">
		SELECT
			<include refid="BaseSQL" />
		FROM
			spark_running_app s
	</select>

	<!-- 添加 -->
	<insert id="insertSparkRunningApp">
		REPLACE INTO spark_running_app(
			app_id
		) VALUES <foreach collection="appIds" separator="," item="i">(#{i})</foreach>
	</insert>

	<!-- 删除 -->
	<delete id="deleteSparkRunningApp">
		DELETE FROM
			spark_running_app
		WHERE
			app_id in <foreach collection="appIds" open="(" close=")" separator="," item="i">#{i}</foreach>
	</delete>

</mapper>