<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.monitor.dao.TaskSubmitDao">

	<resultMap type="org.hit.monitor.model.TaskSubmitDO" id="TaskSubmitResult">
<!--		下面的属性值是用来查询的时候返回的-->
		<id property="id" column="id" />
		<result property="startTime" column="start_time" />
		<result property="host" column="host" />
		<result property="taskDescription" column="task_description" />
		<result property="excutionFrequency" column="excution_frequency" />
		<result property="taskParametersValue" column="task_parameters_value" />
		<result property="taskParametersName" column="task_parameters_name" />
		<result property="triggerStatus" column="trigger_status" />
		<result property="triggerSeverity" column="trigger_severity" />
		<result property="triggerName" column="trigger_name" />
		<result property="triggerDescription" column="trigger_description" />

	</resultMap>
	
	<sql id="BaseSQL">
		a.id,a.host,a.task_description,a.trigger_name,a.trigger_description,
		a.trigger_severity,a.trigger_status,
		a.task_parameters_name,a.task_parameters_value,
		a.excution_frequency,
		a.start_time


	</sql>
	<!-- -->
	<sql id="Condition">
		1=1
		<if test="id != null">
			AND a.id = #{id}
		</if>
		<if test="startTime != null">
			AND a.start_time = #{startTime}
		</if>
		<if test="host != null">
			AND a.host = #{host}
		</if>
		<if test="taskDescription != null">
			AND a.task_description = #{taskDescription}
		</if>
		<if test="excutionFrequency != null">
			AND a.excution_frequency = #{excutionFrequency}
		</if>
		<if test="taskParametersName != null">
			AND a.task_parameters_name = #{taskParametersName}
		</if>
		<if test="taskParametersValue != null">
			AND a.task_parameters_value = #{taskParametersValue}
		</if>
		<if test="triggerStatus != null">
			AND a.trigger_status = #{triggerStatus}
		</if>
		<if test="triggerSeverity != null">
			AND a.trigger_severity = #{triggerSeverity}
		</if>
		<if test="triggerName != null">
			AND a.trigger_name = #{triggerName}
		</if>
		<if test="triggerDescription != null">
			AND a.trigger_description = #{triggerDescription}
		</if>
	</sql>


	<sql id="ConditionExact">
		1=1
		<if test="id != null">
			AND a.id = #{id}
		</if>
		<if test="startTime != null">
			AND a.start_time = #{startTime}
		</if>
		<if test="host != null">
			AND a.host = #{host}
		</if>
		<if test="taskDescription != null">
			AND a.task_description = #{taskDescription}
		</if>
		<if test="excutionFrequency != null">
			AND a.excution_frequency = #{excutionFrequency}
		</if>
		<if test="taskParametersName != null">
			AND a.task_parameters_name = #{taskParametersName}
		</if>
		<if test="taskParametersValue != null">
			AND a.task_parameters_value = #{taskParametersValue}
		</if>
		<if test="triggerStatus != null">
			AND a.trigger_status = #{triggerStatus}
		</if>
		<if test="triggerSeverity != null">
			AND a.trigger_severity = #{triggerSeverity}
		</if>
		<if test="triggerName != null">
			AND a.trigger_name = #{triggerName}
		</if>
		<if test="triggerDescription != null">
			AND a.trigger_description = #{triggerDescription}
		</if>
		<if test="start != null">
			AND a.start_time &gt;= #{start}
		</if>
		<if test="end != null">
			AND a.start_time &lt;= #{end}
		</if>
	</sql>



	<!-- 添加 -->
	<insert id="insertTaskSubmit" parameterType="org.hit.monitor.model.TaskSubmitDO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO task_submit_form (
		start_time,
		host,
		task_description,
		excution_frequency,
		task_parameters_value,
		task_parameters_name,
		trigger_status,
		trigger_severity,
		trigger_name,
		trigger_description
		) VALUES (
<!--		这下面的要和DAO里面的属性值对应-->
		#{startTime},
		#{host},
		#{taskDes},
		#{excutionFrequency},
		#{taskParametersValue},
		#{taskParametersName},
		#{status},
		#{severity},
		#{triggerName},
		#{triggerDes}
		)
	</insert>



</mapper>