<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-autowire="byName">

	<!-- 放置定时任务 (暂时禁用，需配置数据库环境后启用) -->
	<!-- <bean id="cleanTask" class="org.hit.monitor.timetask.MetricsDataCleaner"/>

	<bean id="cleanMetricsDataJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="cleanTask"/>
		</property>
		<property name="targetMethod">
			<value>cleanMetricsData</value>
		</property>
		<property name="concurrent">
			<value>false</value>
		</property>
	</bean>
	<bean id="cleanMetricsDataTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="cleanMetricsDataJobDetail"/>
		</property>
		<property name="cronExpression">
			<value>0 0 0 1/1 * ?</value>
		</property>
	</bean>

	<bean id="timeTaskScheduler" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="cleanMetricsDataTrigger"/>
			</list>
		</property>
	</bean> -->
</beans>