<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-autowire="byName">

	<!-- 关系数据库数据 -->
	<bean id="RDBMetricsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.RDBMetricsDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- 节点数据 -->
	<bean id="sparkAppStatisticsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.SparkAppStatisticsDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<!-- 节点数据 -->
	<bean id="sparkRunningAppDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.SparkRunningAppDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- 节点数据 -->
	<bean id="taskSubmitDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.TaskSubmitDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- 规则报警 -->
	<bean id="alertTriggerDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.AlertTriggerDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<!-- 日志报警 -->
	<bean id="alertLogDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.AlertLogDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<!-- 进程报警 -->
	<bean id="alertProcessDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.AlertProcessDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- Metrics数据 -->
	<bean id="metricsDataDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.MetricsDataDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- Metrics定义 -->
	<bean id="metricsDefineDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.MetricsDefineDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- 监控项数据 -->
	<bean id="monitorItemsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.MonitorItemsDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<!-- 历史数据 -->
	<bean id="historyDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.HistoryDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<!-- 节点数据 -->
	<bean id="hostsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.HostDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- YarnAppResultDao定义 -->
	<bean id="yarnAppResultDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.YarnAppResultDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- AppHeuristicResultDAO定义 -->
	<bean id="appHeuristicResultDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.hit.monitor.dao.AppHeuristicResultDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>


	<!-- AppHeuristicResultDetailsDAO定义 -->
	<bean id="AppHeuristicResultDetailsDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="org.hit.monitor.dao.AppHeuristicResultDetailsDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- YarnAppHeuristicResultDao定义 -->
	<bean id="yarnAppHeuristicResultDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="org.hit.monitor.dao.YarnAppHeuristicResultDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>


	<!-- YarnAppHeuristicResultDetailsDao定义 -->
	<bean id="yarnAppHeuristicResultDetailsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="org.hit.monitor.dao.YarnAppHeuristicResultDetailsDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

</beans>